In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
data_1_raw = pd.read_parquet("/content/drive/MyDrive/Rahnama/Main Project/yellow_tripdata_2023-01.parquet")
data_2_raw = pd.read_parquet("/content/drive/MyDrive/Rahnama/Main Project/yellow_tripdata_2023-02.parquet")
data_3_raw = pd.read_parquet("/content/drive/MyDrive/Rahnama/Main Project/yellow_tripdata_2023-03.parquet")
data_4_raw = pd.read_parquet("/content/drive/MyDrive/Rahnama/Main Project/yellow_tripdata_2023-04.parquet")

In [38]:
data_1 = data_1_raw[(data_1_raw.tpep_pickup_datetime.dt.year == 2023) &
                    (data_1_raw.tpep_pickup_datetime.dt.month == 1)].copy()
data_2 = data_2_raw[(data_2_raw.tpep_pickup_datetime.dt.year == 2023) &
                    (data_2_raw.tpep_pickup_datetime.dt.month == 2)].copy()
data_3 = data_3_raw[(data_3_raw.tpep_pickup_datetime.dt.year == 2023) &
                    (data_3_raw.tpep_pickup_datetime.dt.month == 3)].copy()
data_4 = data_4_raw[(data_4_raw.tpep_pickup_datetime.dt.year == 2023) &
                    (data_4_raw.tpep_pickup_datetime.dt.month == 4)].copy()

In [39]:
print(f"data_1 shape : {data_1.shape}")
print(f"data_2 shape : {data_2.shape}")
print(f"data_3 shape : {data_3.shape}")
print(f"data_4 shape : {data_4.shape}")

data_1 shape : (3066718, 19)
data_2 shape : (2913900, 19)
data_3 shape : (3403577, 19)
data_4 shape : (3288155, 19)

In [40]:
# Add a new column for pick-up date
data_1['PU_date'] = pd.to_datetime(data_1.tpep_pickup_datetime.dt.date)
data_2['PU_date'] = pd.to_datetime(data_2.tpep_pickup_datetime.dt.date)
data_3['PU_date'] = pd.to_datetime(data_3.tpep_pickup_datetime.dt.date)
data_4['PU_date'] = pd.to_datetime(data_4.tpep_pickup_datetime.dt.date)

In [41]:
# Sort data by PU-location & PU-date after counting demand
data_1_sort_by_PUloc_PUdate = data_1.groupby(['PULocationID', 'PU_date'])['PU_date'].count().to_frame('Demand')\
                                    .sort_values(['PULocationID', 'PU_date'], ascending=[True, True]).reset_index()
data_2_sort_by_PUloc_PUdate = data_2.groupby(['PULocationID', 'PU_date'])['PU_date'].count().to_frame('Demand')\
                                    .sort_values(['PULocationID', 'PU_date'], ascending=[True, True]).reset_index()
data_3_sort_by_PUloc_PUdate = data_3.groupby(['PULocationID', 'PU_date'])['PU_date'].count().to_frame('Demand')\
                                    .sort_values(['PULocationID', 'PU_date'], ascending=[True, True]).reset_index()
data_4_sort_by_PUloc_PUdate = data_4.groupby(['PULocationID', 'PU_date'])['PU_date'].count().to_frame('Demand')\
                                    .sort_values(['PULocationID', 'PU_date'], ascending=[True, True]).reset_index()

# Concat data

In [42]:
print(f"data_1 shape : {data_1_sort_by_PUloc_PUdate.shape}")
print(f"data_2 shape : {data_2_sort_by_PUloc_PUdate.shape}")
print(f"data_3 shape : {data_3_sort_by_PUloc_PUdate.shape}")
print(f"data_4 shape : {data_4_sort_by_PUloc_PUdate.shape}")

data_1 shape : (6775, 3)
data_2 shape : (6177, 3)
data_3 shape : (6915, 3)
data_4 shape : (6682, 3)

In [43]:
concat_data_by_loc_date = pd.concat([data_1_sort_by_PUloc_PUdate , data_2_sort_by_PUloc_PUdate,
                      data_3_sort_by_PUloc_PUdate, data_4_sort_by_PUloc_PUdate]).reset_index(drop=True)

concat_data_by_loc_date.shape

(26549, 3)

# shift() doesn't work!

In [44]:
test_df = data_1_sort_by_PUloc_PUdate.copy()

In [45]:
test_df['pre_day_demand'] = test_df['Demand'].shift(1)

In [47]:
test_df.head(35)

    PULocationID    PU_date  Demand  pre_day_demand
0              1 2023-01-01      40             NaN
1              1 2023-01-02      31            40.0
2              1 2023-01-03      27            31.0
3              1 2023-01-04       7            27.0
4              1 2023-01-05      15             7.0
5              1 2023-01-06      11            15.0
6              1 2023-01-07       6            11.0
7              1 2023-01-08      12             6.0
8              1 2023-01-09      14            12.0
9              1 2023-01-10       4            14.0
10             1 2023-01-11       9             4.0
11             1 2023-01-12       8             9.0
12             1 2023-01-13      21             8.0
13             1 2023-01-14       7            21.0
14             1 2023-01-15      19             7.0
15             1 2023-01-16      21            19.0
16             1 2023-01-17      18            21.0
17             1 2023-01-18      10            18.0
18             1 2023-01-19       9            10.0
19             1 2023-01-20      20             9.0
20             1 2023-01-21       9            20.0
21             1 2023-01-22      11             9.0
22             1 2023-01-23       6            11.0
23             1 2023-01-24       6             6.0
24             1 2023-01-25       7             6.0
25             1 2023-01-26       7             7.0
26             1 2023-01-27      13             7.0
27             1 2023-01-28       6            13.0
28             1 2023-01-29      12             6.0
29             1 2023-01-30      14            12.0
30             1 2023-01-31       8            14.0
31             2 2023-01-28       2             8.0
32             3 2023-01-02       2             2.0
33             3 2023-01-03       2             2.0
34             3 2023-01-04       1             2.0

In [ ]:
test_df[test_df['PULocationID']==3]

# Feature Engineering

In [7]:
# day of month, day of week, previous day demand (for each location), previous week demand (for each location)

## first version

In [50]:
start_date_1 = data_1_sort_by_PUloc_PUdate['PU_date'].min()
end_date_1 = data_1_sort_by_PUloc_PUdate['PU_date'].max()

In [ ]:
location_ids = data_1_sort_by_PUloc_PUdate.PULocationID.unique()
sub_dfs = []
for location_id in location_ids:
  # create dataframe for each location
  sub_df = pd.DataFrame({'location': location_id, 'date': pd.date_range(start=start_date_1, end=end_date_1)})
  sub_df['Demand'] = 0
  for i in range(len(sub_df)):
    loc_date_row = data_1_sort_by_PUloc_PUdate[(data_1_sort_by_PUloc_PUdate['PULocationID']==sub_df['location'][i]) & (data_1_sort_by_PUloc_PUdate['PU_date']==sub_df['date'][i])]
    if not loc_date_row.empty:
      sub_df['Demand'][i] = loc_date_row['Demand']
  sub_df['prev_day_demand'] = sub_df['Demand'].shift(1)
  sub_df['prev_week_demand'] = sub_df['Demand'].shift(7)
  sub_dfs.append(sub_df)
data_1_modified = pd.concat(sub_dfs).reset_index(drop=True)

In [52]:
data_1_modified['day_of_week'] = data_1_modified['date'].dt.dayofweek
data_1_modified['day_of_month'] = data_1_modified['date'].dt.day

In [54]:
data_1_modified.head(5)

,location,date,Demand,prev_day_demand,prev_week_demand,day_of_week,day_of_month
0,1,2023-01-01,40,NaN,NaN,6,1
1,1,2023-01-02,31,40.0,NaN,0,2
2,1,2023-01-03,27,31.0,NaN,1,3
3,1,2023-01-04,7,27.0,NaN,2,4
4,1,2023-01-05,15,7.0,NaN,3,5

In [16]:
# data_1_modified[data_1_modified['location']==1]

## temp version

In [20]:
using_df = concat_data_by_loc_date.copy()

In [21]:
start_date = using_df['PU_date'].min()
end_date = using_df['PU_date'].max()

In [ ]:
location_ids = using_df.PULocationID.unique()
sub_dfs = []
for location_id in location_ids:
  # create dataframe for each location
  sub_df = pd.DataFrame({'location': location_id, 'date': pd.date_range(start=start_date, end=end_date)})
  sub_df['Demand'] = 0
  for i in range(len(sub_df)):
    loc_date_row = using_df[(using_df['PULocationID']==sub_df['location'][i]) & (using_df['PU_date']==sub_df['date'][i])]
    if not loc_date_row.empty:
      sub_df['Demand'][i] = loc_date_row['Demand']
  sub_df['prev_day_demand'] = sub_df['Demand'].shift(1)
  sub_df['prev_week_demand'] = sub_df['Demand'].shift(7)
  sub_dfs.append(sub_df)
data_modified = pd.concat(sub_dfs).reset_index(drop=True)

In [25]:
data_modified['day_of_week'] = data_modified['date'].dt.dayofweek
data_modified['day_of_month'] = data_modified['date'].dt.day

In [61]:
data_modified[data_modified['location'] == 2]['Demand'].sum()

8

In [56]:
data_modified[(data_modified['location']==1) & (data_modified['date'].dt.month == 1)]

,location,date,Demand,prev_day_demand,prev_week_demand,day_of_week,day_of_month
0,1,2023-01-01,40,NaN,NaN,6,1
1,1,2023-01-02,31,40.0,NaN,0,2
2,1,2023-01-03,27,31.0,NaN,1,3
3,1,2023-01-04,7,27.0,NaN,2,4
4,1,2023-01-05,15,7.0,NaN,3,5
5,1,2023-01-06,11,15.0,NaN,4,6
6,1,2023-01-07,6,11.0,NaN,5,7
7,1,2023-01-08,12,6.0,40.0,6,8
8,1,2023-01-09,14,12.0,31.0,0,9
9,1,2023-01-10,4,14.0,27.0,1,10
10,1,2023-01-11,9,4.0,7.0,2,11
11,1,2023-01-12,8,9.0,15.0,3,12
12,1,2023-01-13,21,8.0,11.0,4,13
13,1,2023-01-14,7,21.0,6.0,5,14
14,1,2023-01-15,19,7.0,12.0,6,15
15,1,2023-01-16,21,19.0,14.0,0,16
16,1,2023-01-17,18,21.0,4.0,1,17
17,1,2023-01-18,10,18.0,9.0,2,18
18,1,2023-01-19,9,10.0,8.0,3,19
19,1,2023-01-20,20,9.0,21.0,4,20
20,1,2023-01-21,9,20.0,7.0,5,21
21,1,2023-01-22,11,9.0,19.0,6,22
22,1,2023-01-23,6,11.0,21.0,0,23
23,1,2023-01-24,6,6.0,18.0,1,24
24,1,2023-01-25,7,6.0,10.0,2,25
25,1,2023-01-26,7,7.0,9.0,3,26
26,1,2023-01-27,13,7.0,20.0,4,27
27,1,2023-01-28,6,13.0,9.0,5,28
28,1,2023-01-29,12,6.0,11.0,6,29
29,1,2023-01-30,14,12.0,6.0,0,30
30,1,2023-01-31,8,14.0,6.0,1,31