# Imports

In [3]:
import pandas as pd

# Config

In [21]:
INPUT_PATH = '/Users/maedeh/Desktop/demand_project/demand_project/shoofer-demand-prediction/data/labels_phase2.parquet'
# INPUT_PATH = '/Users/maedeh/Desktop/demand_project/shoofer-demand-prediction/data/labels.parquet'
# OUTPUT_PATH = '/Users/maedeh/Desktop/demand_project/demand_project/shoofer-demand-prediction/data/features_df_phase2.parquet'

# Loading Dataset

In [22]:
def load_data(path):
    df = pd.read_parquet(path) 
    return df

In [56]:
rides_df = load_data(INPUT_PATH)
print(f'rides_df shape : {rides_df.shape}')
rides_df[:30]

rides_df shape : (251520, 4)

    Location  Hour_interval        Date  Demand
0          1              0  2023-01-01     0.0
1          1              0  2023-01-02     0.0
2          1              0  2023-01-03     1.0
3          1              0  2023-01-04     1.0
4          1              0  2023-01-05     0.0
5          1              0  2023-01-06     0.0
6          1              0  2023-01-07     0.0
7          1              0  2023-01-08     0.0
8          1              0  2023-01-09     0.0
9          1              0  2023-01-10     0.0
10         1              0  2023-01-11     0.0
11         1              0  2023-01-12     0.0
12         1              0  2023-01-13     0.0
13         1              0  2023-01-14     0.0
14         1              0  2023-01-15     0.0
15         1              0  2023-01-16     0.0
16         1              0  2023-01-17     0.0
17         1              0  2023-01-18     0.0
18         1              0  2023-01-19     0.0
19         1              0  2023-01-20     0.0
20         1              0  2023-01-21     0.0
21         1              0  2023-01-22     0.0
22         1              0  2023-01-23     0.0
23         1              0  2023-01-24     1.0
24         1              0  2023-01-25     0.0
25         1              0  2023-01-26     0.0
26         1              0  2023-01-27     0.0
27         1              0  2023-01-28     0.0
28         1              0  2023-01-29     0.0
29         1              0  2023-01-30     0.0

In [ ]:
dd=rides_df.groupby(['Location','Hour_interval'])['Demand'].shift(1)
rides_df['last_day_of_interval']=dd
rides_df[1060:1100]

In [ ]:
dd=rides_df.groupby(['Location','Date'])['Demand'].shift(120)

# Feature engineering

In [17]:
def feature_engineering(dataset):
    dataset['Previous_day_demand'] = dataset.groupby(['Location'])['Demand'].shift(1)
    dataset['Previous_week_demand'] = dataset.groupby(['Location'])['Demand'].shift(7)
    dataset['Day_of_week'] = dataset['Date'].dt.dayofweek   
    dataset['Day_of_month'] = dataset['Date'].dt.day
    return dataset

In [18]:
features_df = feature_engineering(rides_df)
print(f'features_df shape : {features_df.shape}')
features_df.head()

features_df shape : (31440, 7)

,Location,Date,Demand,Previous_day_demand,Previous_week_demand,Day_of_week,Day_of_month
0,1,2023-01-01,40.0,NaN,NaN,6,1
1,1,2023-01-02,31.0,40.0,NaN,0,2
2,1,2023-01-03,27.0,31.0,NaN,1,3
3,1,2023-01-04,7.0,27.0,NaN,2,4
4,1,2023-01-05,15.0,7.0,NaN,3,5

In [20]:
features_df[114:170]

,Location,Date,Demand,Previous_day_demand,Previous_week_demand,Day_of_week,Day_of_month
114,1,2023-04-25,14.0,10.0,5.0,1,25
115,1,2023-04-26,12.0,14.0,15.0,2,26
116,1,2023-04-27,9.0,12.0,15.0,3,27
117,1,2023-04-28,15.0,9.0,15.0,4,28
118,1,2023-04-29,25.0,15.0,16.0,5,29
119,1,2023-04-30,27.0,25.0,24.0,6,30
120,2,2023-01-01,0.0,NaN,NaN,6,1
121,2,2023-01-02,0.0,0.0,NaN,0,2
122,2,2023-01-03,0.0,0.0,NaN,1,3
123,2,2023-01-04,0.0,0.0,NaN,2,4
124,2,2023-01-05,0.0,0.0,NaN,3,5
125,2,2023-01-06,0.0,0.0,NaN,4,6
126,2,2023-01-07,0.0,0.0,NaN,5,7
127,2,2023-01-08,0.0,0.0,0.0,6,8
128,2,2023-01-09,0.0,0.0,0.0,0,9
129,2,2023-01-10,0.0,0.0,0.0,1,10
130,2,2023-01-11,0.0,0.0,0.0,2,11
131,2,2023-01-12,0.0,0.0,0.0,3,12
132,2,2023-01-13,0.0,0.0,0.0,4,13
133,2,2023-01-14,0.0,0.0,0.0,5,14
134,2,2023-01-15,0.0,0.0,0.0,6,15
135,2,2023-01-16,0.0,0.0,0.0,0,16
136,2,2023-01-17,0.0,0.0,0.0,1,17
137,2,2023-01-18,0.0,0.0,0.0,2,18
138,2,2023-01-19,0.0,0.0,0.0,3,19
139,2,2023-01-20,0.0,0.0,0.0,4,20
140,2,2023-01-21,0.0,0.0,0.0,5,21
141,2,2023-01-22,0.0,0.0,0.0,6,22
142,2,2023-01-23,0.0,0.0,0.0,0,23
143,2,2023-01-24,0.0,0.0,0.0,1,24
144,2,2023-01-25,0.0,0.0,0.0,2,25
145,2,2023-01-26,0.0,0.0,0.0,3,26
146,2,2023-01-27,0.0,0.0,0.0,4,27
147,2,2023-01-28,2.0,0.0,0.0,5,28
148,2,2023-01-29,0.0,2.0,0.0,6,29
149,2,2023-01-30,0.0,0.0,0.0,0,30
150,2,2023-01-31,0.0,0.0,0.0,1,31
151,2,2023-02-01,0.0,0.0,0.0,2,1
152,2,2023-02-02,0.0,0.0,0.0,3,2
153,2,2023-02-03,0.0,0.0,0.0,4,3
154,2,2023-02-04,0.0,0.0,2.0,5,4
155,2,2023-02-05,0.0,0.0,0.0,6,5
156,2,2023-02-06,1.0,0.0,0.0,0,6
157,2,2023-02-07,0.0,1.0,0.0,1,7
158,2,2023-02-08,0.0,0.0,0.0,2,8
159,2,2023-02-09,0.0,0.0,0.0,3,9
160,2,2023-02-10,0.0,0.0,0.0,4,10
161,2,2023-02-11,0.0,0.0,0.0,5,11
162,2,2023-02-12,0.0,0.0,0.0,6,12
163,2,2023-02-13,1.0,0.0,1.0,0,13
164,2,2023-02-14,0.0,1.0,0.0,1,14
165,2,2023-02-15,0.0,0.0,0.0,2,15
166,2,2023-02-16,0.0,0.0,0.0,3,16
167,2,2023-02-17,0.0,0.0,0.0,4,17
168,2,2023-02-18,0.0,0.0,0.0,5,18
169,2,2023-02-19,0.0,0.0,0.0,6,19

# File saving

In [7]:
def save_features(dataset, path):
    features_df = dataset.to_parquet(path, index=False)

In [8]:
save_features(features_df, OUTPUT_PATH)